extends layout

block content
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#') Red Bicicletas
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#about') Nosotros
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#projects') Mapa Bicicletas
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#signup') Contacto
          li.nav-item
            .container
              if autorizado
                a.btn.btn-outline-light(href="/logout" style= "padding:2rem 1.5rem;color:#326C67" type='button'   ) Logout
              else 
                button.btn.btn-outline-light(style= "padding:2rem 1.5rem;color:#326C67" type='button'  data-toggle='modal' data-target='#exampleModal2') Login
              

  unless autorizado
    #exampleModal2.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Inicia Sesión
            button.close(type='button' class="btn btn-secondary" data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          form(action="/login" method="post")
            .modal-body
                .form-group
                    label(for="email") Email:
                    input#nombre.form-control(required type="email" name="email" value=usuario? usuario.email:"" class=errors.email? "is-invalid":"")
                    if errors.email
                      small#nombreHelp.text-danger=errors.email.message
                .form-group
                    label(for="contrasena") contraseña:
                    input#contrasena.form-control(required  type="password" name="contrasena" class=errors.contrasena? "is-invalid":"")
                    if errors.contrasena
                        small#nombreHelp.text-danger=errors.contrasena.message
                
                a(href="/forgotPassword")
                  i.fa.fa-question-circle-o(aria-hidden="true") 
                  small  Recuperar contraseña
                    

                                  
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Logear

  // Masthead
  header.masthead
    .container.d-flex.h-100.align-items-center
      .mx-auto.text-center
        h1.mx-auto.my-0.text-uppercase Red Bicicletas
        h2.text-white-50.mx-auto.mt-2.mb-5 Comunidad online de ciclistas
        a.btn.btn-primary.js-scroll-trigger(href='#about') Empieza
  // About
  section#about.about-section.text-center
    .container
      .row
        .col-lg-8.mx-auto
          h2.text-white.mb-4 Built with Bootstrap 4
          p.text-white-50
            | Comunidad online
            a(href='https://startbootstrap.com/template-overviews/grayscale/') the preview page
            |                             . The theme is open source, and you can use it for any purpose, personal or commercial.
      img.img-fluid(src='/assets/img/ipad.png' alt='')
  // Projects
  section#projects.projects-section.bg-light
    h3.mapa Mapa
    .container-fluid
      #mapid

  // Signup
  section#signup.signup-section
    .container
      .row
        .col-md-10.col-lg-8.mx-auto.text-center
          i.far.fa-paper-plane.fa-2x.mb-2.text-white
          h2.text-white.mb-5 Subscribe to receive updates!
          form.form-inline.d-flex
            input#inputEmail.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='email' placeholder='Enter email address...')
            button.btn.btn-primary.mx-auto(type='submit') Subscribe
  // Contact
  section.contact-section.bg-black
    .container
      .row
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-map-marked-alt.text-primary.mb-2
              h4.text-uppercase.m-0 Address
              hr.my-4
              .small.text-black-50 Ecuador
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-envelope.text-primary.mb-2
              h4.text-uppercase.m-0 Email
              hr.my-4
              .small.text-black-50
                a(href='mailto:israelpat42@gmail.com') israelpat42@gmail.com
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-mobile-alt.text-primary.mb-2
              h4.text-uppercase.m-0 Phone
              hr.my-4
              .small.text-black-50 
      .social.d-flex.justify-content-center
        a.mx-2(href='https://www.linkedin.com/in/LEON12699')
          i.fab.fa-linkedin
        a.mx-2(href='https://gitlab.com/LEON12699')
          i.fab.fa-gitlab
        a.mx-2(href='https://github.com/LEON12699')
          i.fab.fa-github
  // Footer
  footer.footer.bg-black.small.text-center.text-white-50
    .container Copyright &copy; Your Website 2020
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  // Core theme JS
  script(src='/js/scripts.js')
  script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js')
  script(src='/js/map.js')
  if (errors.email || errors.contrasena)
    script. 
      $("#exampleModal2").modal("show")
