doctype html
html
  head
    title= "Red Bicicletas"
    link(rel='stylesheet', href='/stylesheets/styles.css')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='description' content='sitio de red bicicletas online')
    meta(name='author' content='leon12699')
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css')  
    link(rel='icon' type='image/x-icon' href='/assets/img/favicon.ico')

    // Font Awesome icons (free version)
    script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')

    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')

    // Core theme CSS (includes Bootstrap)


  
  body
    block content
