extends ../layout

block content


    // Masthead 
    .masthead
     .container.d-flex.h-100.align-items-center
        .mx-auto 
            .card(style="opacity:0.90")
                .card-header.bg-transparent 
                    h3.text-center(style="text-color:black;font-weight:800;font-style:oblique") Nueva Bicicleta
                .card-body
                    form(action="/bicicletas/create" method="post")
                        .form-group
                            label(for="code") Codigo:
                            input#code.form-control(type="text" name="code")
                        .form-group
                            label(for="color") Color:
                            input#color.form-control(type="text" name="color")
                        .form-group
                            label(for="modelo") Modelo:
                            input#modelo.form-control(type="text" name="modelo")
                        .row
                            .col
                                label(for="ltd") Latitud:
                                input#ltd.form-control(type="text" name="ltd")
                            .col
                                label(for="lng") Longitud:
                                input#lng.form-control(type="text" name="lng")
                        .card-footer     
                            input.btn.btn-primary.float-right(type='submit',value="OK")
                            button(class="btn btn-outline-dark float-right " href="javascript:history.back()") Volver
            
    

    
    