extends ../layout

block content
    
    include nav
    .masthead
     .container.h-100  
        .row.h-100
            .col-sm-12.my-auto
                .card.card-block.w-100.mx-auto(style="opacity:0.90")
                    .card-header.bg-transparent 
                        h3.text-center(style="text-color:black;font-weight:800;font-style:oblique") Bicicletas
                    .card-body
                        a.link-button(href="/bicicletas/create" style="margin:20px;") Nueva Bicicleta
                        .table-responsive
                            table.table.table-hover
                                thead
                                    tr
                                        th(scope='col') Codigo
                                        th(scope='col') Color
                                        th(scope='col') Modelo
                                        th(scope='col') Ubicación
                                        th(scope='col')
                                        th(scope='col')
                                tbody
                                    each bici in bicis
                                        tr(data-href="/bicicletas/"+bici.code+"/update")
                                            td(scope='row')=bici.code
                                            td=bici.color
                                            td=bici.modelo
                                            td=bici.ubicacion
                                            td
                                                form.inline(method="post" action ="bicicletas/"+bici.code+"/delete")
                                                    input(type="hidden" name="code" value=bici.code)
                                                    button.link-button(type="submit" name="submit_param" value="submit_value" class="btn") Eliminar

    script. 
        document.addEventListener('DOMContentLoaded', function () {
            var a = document.querySelectorAll("table tr")
            for (var i=1 ; i<a.length;i++){
                    a[i].onclick=function(){
                        window.location=this.dataset.href
                    }  ;                          
            }
        });
    