extends ../layout


block content

    
    
    .masthead
        .container.d-flex.h-100.align-items-center
            .mx-auto 
                .card(style="opacity:0.90")
                    .card-header.bg-transparent 
                        h3.text-center(style="text-color:black;font-weight:800;font-style:oblique") Actualizar Bicicleta
                    .card-body
                        form(action="/bicicletas/"+bici.code+"/update" method="post")
                            .form-group
                                label(for="code") Código:
                                input#code.form-control(readonly type="text" name="code" value=bici.code)
                            .form-group
                                label(for="color") Color:
                                input#color.form-control(type="text" name="color" value=bici.color)
                            .form-group
                                label(for="modelos") Modelo:
                                input#modelo.form-control(type="text" name="modelo" value=bici.modelo)
                            .row
                                .col
                                    label(for="lat") Latitud:
                                    input#lat.form-control(type="text" name="lat" value=bici.ubicacion[0])
                                .col
                                    label(for="lng") Longitud:
                                    input#lng.form-control(type="text" name="lng" value=bici.ubicacion[1])
                            .card-footer     
                                    input.btn.btn-primary.float-right(type='submit',value="Actualizar")
                                    button(class="btn btn-outline-dark float-right " href="javascript:history.back()") Volver
            
    

    
    