extends ../layout

block content

    a(href="javascript:history.back()") Volver   
    |
    br
    h1 Nueva Bicicleta
    
    form(action="/bicicletas/create" method="post")
        .form-group
            label(for="id") ID:
            input#id.form-control(type="text" name="id")
        .form-group
            label(for="color") Color:
            input#color.form-control(type="text" name="color")
        .form-group
            label(for="modelos") Modelo:
            input#modelo.form-control(type="text" name="modelo")
        .row
            .col
                label(for="lat") Latitud:
                input#lat.form-control(type="text" name="lat")
            .col
                label(for="lng") Longitud:
                input#lng.form-control(type="text" name="lng")
        .form-group
            br
            input.btn.btn-primary(type='submit',value="OK")
