extends ../layout

block content
    br
    
    div
        a.link-button(href="/bicicletas/create" style="margin:20px;") Nueva Bicicleta
        a.badge.badge-ligth(href="/" style="font-size:large") Home
    
    hr
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicación
                th(scope='col')
                th(scope='col')
        tbody
            each bici in bicis
                tr
                    td=bici.color 
                    td(scope='row')=bici.id
                    td=bici.modelo
                    td=bici.ubicacion
                    td 
                        a.link-button.btn(href="/bicicletas/"+bici.id+"/update") Editar
                    td
                        form.inline(method="post" action ="bicicletas/"+bici.id+"/delete")
                            input(type="hidden" name="id" value=bici.id)
                            button.link-button(type="submit" name="submit_param" value="submit_value" class="btn") Eliminar