extends ../layout

block content

    a(href="javascript:history.back()") Volver
    br   
    br 
    h1 Actualizar Bicicleta
    br
    form(action="/bicicletas/"+bici.id+"/update" method="post")
        .form-group
            label(for="id") ID:
            input#id.form-control(type="text" name="id" value=bici.id)
        .form-group
            label(for="color") Color:
            input#color.form-control(type="text" name="color" value=bici.color)
        .form-group
            label(for="modelos") Modelo:
            input#modelo.form-control(type="text" name="modelo" value=bici.modelo)
        .row
            .col
                label(for="lat") Latitud:
                input#lat.form-control(type="text" name="lat" value=bici.ubicacion[0])
            .col
                label(for="lng") Longitud:
                input#lng.form-control(type="text" name="lng" value=bici.ubicacion[1])
        .form-group
            br
            input.btn.btn-primary(type='submit',value="Ok")
